.THIS.Block-style {
    background: white;
        height: 80px;
        text-transform: uppercase;
        border: 1px solid;
        border-radius: 4px;
        cursor: pointer;
        font-size: large;
        font-weight: bold;
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 63%);
        letter-spacing: 1px;
        transition: all 0.5s;
}
.THIS.Block-style:hover{
    background-color: #ededed;
    border: 1px solid #ededed;
}